<h1>Welcome to the Frogger</h1>
<%= link_to 'All Articles', articles_path%>
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.movieweb.com%2Fi%2Farticle%2FIzo31jJiDfoUoFIanH5ZA4SwZf1j3j%2F1200%3A100%2FTiger-King-Joe-Exotic-Tv-Show-Cgi-Tigers.jpg&f=1&nofb=1" class="img-responsive" alt="Responsive image">
