<h1>Welcome to the Frogger</h1>
<%= link_to 'All Articles', articles_path%></br>
      <img src="https://media.giphy.com/media/WPnkJKCA3c476pGjGu/giphy.gif" class="img-responsive" alt="Responsive image">
